

button {
    padding: 10px 20px;
    margin-top: 20px;
}

#worksheetContainer {
    margin-top: 20px;
}

#previewContainer {
    float: right;
    width: 40%;
    margin-right: 80px;
    height: 350;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}




